.div{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.img {
    width: 94px;
    height: 45px;
}

.header{
    font-size: 28px;
    color: rgba(46, 49, 145, 0.996078431372549);
    font-weight: 600;
}

.sub-header{
    font-size: 18px;
    color: #7F7F7F;
}