/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic' !important;
    font-weight: 400;
    font-style: normal;}
